
form{
	position: relative;
	margin:0 auto;
	font-size: 0.8em;
	border-radius: 10px;
	color: rgb(214, 213, 213);
	width: 300px;
	padding:20px;
	background-color: rgba(7, 101, 138, 0.5);
	margin-bottom: 10px;

}
input,select{
	
	border:0;
}
.field{
	border: solid 1px #ccc;
	width: 250px;
	padding:10px;
}
.botton{
	border: solid 1px #ccc;
	width: 250px;
	padding:10px;
	background-color: rgba(51, 199, 14, 0.993);
	
}